<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.point_mainapp_demo.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/point_mainapp_demo_app_ic_launcher"
        android:label="@string/point_mainapp_demo_app_name"
        android:supportsRtl="true"
        android:theme="@style/point_mainapp_demo_appTheme.main">
        <activity
            android:name=".view.nfc.WriteNfcActivity"
            android:exported="false" />
        <activity
            android:name=".view.nfc.ReadNfcActivity"
            android:exported="false" />
        <activity
            android:name=".view.nfc.NfcActionActivity"
            android:exported="false" />
        <activity
            android:name=".view.nfc.DetectCartActivity"
            android:exported="false" />
        <activity
            android:name=".view.payment.launcher.PaymentFlowInstallmentsActivity"
            android:exported="false" />
        <activity
            android:name=".view.info.SmartInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.printer.PrinterBitmapActivity"
            android:exported="false" />
        <activity
            android:name=".view.bluetooth.printer.PrinterTestActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.bluetooth.BluetoothTestActivity"
            android:exported="false" />
        <activity
            android:name=".view.payment.result.PaymentResultActivity"
            android:exported="true"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="launcher_native_app"
                    android:scheme="mercadopago" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.payment.launcher.PaymentLauncherActivity"
            android:exported="false" />
        <activity
            android:name=".view.refunds.RefundsActivity"
            android:exported="false" />
        <activity
            android:name=".view.camera.CameraScannerActivity"
            android:exported="false" />
    </application>

</manifest>
